/* instructions screen */
/* .Instructions {
  width: 1200px;
  height: 800px;
  background: black;
  position: relative;
  margin: auto;
} */
/* The Chicken */
.player {
  position:absolute;
}

.chicken {
  height: 80px;
  width: 80px;
}

/* The board  */
.finish {
  width: 1200px;
  height: 120px;
  background: #2b3934;
  margin: auto;
  position: relative;
}

.board {
  width: 1200px;
  height: 800px;
  background: grey;
  position: relative;
  margin: auto;
}

.start{
  width: 1200px;
  height: 80px;
  background: #156627;
  margin: auto;
}


/* The Lanes */

.laneSix{
  position: relative;
  width: 1200px;
  height:97px;
  border-bottom: 3px dashed white;
}

.laneOne{
  position: relative;
  width: 1200px;
  height:97px;
  border-bottom: 3px dashed white;
}

.laneThree{
  position: relative;
  width: 1200px;
  height:97px;
  border-bottom: 3px dashed white;
}

.laneTwo {
  position: relative;
  width: 1200px;
  height: 97px;
  border-bottom: 3px dashed white;
}

.laneFive {
  position: relative;
  width: 1200px;
  height: 97px;
  border-bottom: 3px dashed white;
}

.laneFour{
  position: relative;
  width: 1200px;
  height:97px;
  border-bottom: 3px dashed white;
}

/* Cars */

.slowCar {
  position:absolute;
  margin-top: 20px;
  height: 60px;
  width: 100px;
}

.car,
.car2,
.car3,
.car5 {
  position:absolute;
  margin-bottom: 20px;
  height: 60px;
  width: 100px;
}

.car4,
.car6 {
  position:absolute;
  left:1100px;
  margin-top: 20px;
  height: 60px;
  width: 100px;
}

.fastCar{
  position:absolute;
  height: 60px;
  width: 100px;
}

.fastestCar {
  position:absolute;
  margin-top: 20px;
  height: 60px;
  width: 100px;
}

/* Start button  */
.start {
  text-align: center;
}

button {
  font-size: 20px;
  width: 80px;
  height: 30px;
}

.timer {
  margin-left: 1000px;
  width:150px;
  height:70px;
  border: 3px solid white;
  border-radius: 10%;
  position: absolute;
  top: 20px;
  font: white;
}
