
/* The Chicken */
.player {
  position:absolute;
}

.chicken {
  position: absolute;
  height: 50px;
  width: 50px;
}

.finish {
  width: 1200px;
  height: 120px;
  background: #2b3934;
  margin: auto;
}

.board {
  width: 1200px;
  height: 800px;
  background: grey;
  position: relative;
  margin: auto;
}

.start{
  width: 1200px;
  height: 80px;
  background: #156627;
  margin: auto;
}


/* The Lanes */

.laneOne {
  width: 1200px;
  height:97px;
  border-bottom: 3px dashed white;
}

.laneTwo {
  width: 1200px;
  height: 97px;
  border-bottom: 3px dashed white;
}

.laneThree {
  width: 1200px;
  height:97px;
  border-bottom: 3px dashed white;
}

.laneFour{
  width: 1200px;
  height:97px;
  border-bottom: 3px dashed white;
}

.laneFive{
  width: 1200px;
  height:97px;
  border-bottom: 3px dashed white;
}

.laneSix {
  width: 1200px;
  height:97px;
  border-bottom: 3px dashed white;
}
